.header-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 48px;
    border-bottom: 1px solid #121481;
    background-color: #FFEAE3;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.header-link {
    font-size: 14px;
    color: black;
    text-decoration: none;
    width: 100px;
    transition: color 0.3s;
    background: #9dd0c7;
}

.header-link:hover {
    background: #7DA69F;
    transform: scale(1.05);
}

.header-link-register{
    font-size: 14px;
    color: black;
    text-decoration: none;
    width: 100px;
    transition: color 0.3s;
    background: #9dd0c7;
}

.header-link-register:hover {
    background: #7DA69F;
    transform: scale(1.05);
}


.logout-button {
    width: 100px;
    font-size: 14px;
    color: black;
    background:#9DD0C7;
    border: none;
    cursor: pointer;
}

.logout-button:hover {
    background: #7DA69F;
    transform: scale(1.05);
}
